<div class="row-fluid">
  <div class="span8">
    
    <div class="row-fluid">
      <div class="span12">
    <div class="well" style="background: #03a;">
      <h4 style="margin-bottom: 10px"><i class="icon-instagram"></i> Instagram Feed</h4>
      <div style="border-radius: 10px;" class="cycle-slideshow" 
        data-cycle-fx="carousel"
        data-cycle-timeout="3000"
        data-cycle-slides="> a"
        data-cycle-swipe="true"
        data-cycle-prev=".prev"
        data-cycle-next=".next"
        >
        <% for item in @media %>
          <a><%= image_tag(item.thumbnail) %></a>
          <% if 1 == 2 %>
          <p>
            id, type, created_time, link, caption.text:<br />
            <%= "#{item.media_id}, #{item.media_type}, item.created_at.strftime('%D %l:%M %p')}, #{item.link}, #{item.caption}" %>
          </p>
          <% end # if 1 == 2 %>
        <% end %>
      </div><!--/.cycle-slideshow-->
    </div><!--/.well-->
  </div></div>
  <div class="row-fluid">
    <div class="span12">
      <div class="well" style="background: #800">
        <h4><i class="icon-pencil"></i> <%= @article.title %></h4>
        <%= simple_format (truncate(@article.content, length: 750, separator: " ") { link_to "(more)", @article }) %>
      </div>
    </div></div>
  </div><!--/.span8-->

  <div class="span4">
    <div class="well sidebar-nav" style="background: #80a;">
      <h4><i class="fa icon-calendar"></i> Activities</h4>
      <dl>
      <% @activities.each do |activity| %>
      <dt><%= activity.title %></dt>
      <dd><%= activity.starts_at.strftime("%a %b %d %l:%M %P") %></dd>
      <% end %>
      </dl>
    </div><!--/.well -->

    <div class="well " style="background: #060;">
      <h4><i class="fa fa-twitter"></i> Tweets</h4>
      <% @tweets.each do |tweet| %>
      <blockquote>
        <p><%= auto_link HTMLEntities.new.decode(tweet.content), html: { target: '_blank' } %></p>
        <small><%= time_ago_in_words tweet.created_at %> ago</small>
      </blockquote>
      <% end %>
    </div><!--/.well -->
  </div><!--/.span3-->
</div><!--/.row-fluid-->