<div class="row hidden-xs">
  <div class="col-lg-8" style="margin-left: -30px;">
    <table id="JYSEP_Banner" width="1200" border="0" cellpadding="0" cellspacing="0">
    	<tr>
    		<td colspan="3">
          <%= image_tag "banner/JYSEP-Banner_01.jpg" %>
        </td>
    		<td rowspan="3">
          <div class="cycle-slideshow" data-cycle-fx="fadeout">
          <% 1.upto(4) do |i| %>
          <%= image_tag "banner/junior-youth-#{i}.jpg", { style: (i > 1) ? "display: none" : nil } %>
          <% end %>
          </div>
        </td>
    	</tr>
    	<tr>
    		<td rowspan="2">
          <%= image_tag "banner/JYSEP-Banner_03.jpg" %>
    		</td>
        <td>
          <div class="cycle-slideshow" data-cycle-fx="tileSlide">
          <%= image_tag "banner/jysep-off.jpg" %>
          <%= image_tag "banner/jysep-on.jpg", { style: "display: none" } %>
          </div>
        </td>
    		<td rowspan="2">
          <%= image_tag "banner/JYSEP-Banner_05.jpg" %>
        </td>
    	</tr>
    	<tr>
    		<td>
          <div class="cycle-slideshow" data-cycle-fx="fadeout">
          <%= image_tag "banner/empowering-off.jpg" %>
          <%= image_tag "banner/empowering-on.jpg", { style: "display: none" } %>
          </div>
        </td>
    	</tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
      <div class="alert alert-danger">
        <h4 style="margin-bottom: 10px"><%= fa_icon "instagram" %> Instagram Feed</h4>
        <div style="border-radius: 10px;" class="cycle-slideshow" 
          data-cycle-fx="carousel"
          data-cycle-timeout="3000"
          data-cycle-slides="> a"
          data-cycle-swipe="true"
          data-cycle-prev=".prev"
          data-cycle-next=".next"
          >
          <% for item in @media %>
          <a><%= image_tag(item.thumbnail) %></a>
          <% if 1 == 2 %>
          <p>
            id, type, created_time, link, caption.text:<br />
            <%= "#{item.media_id}, #{item.media_type}, item.created_at.strftime('%D %l:%M %p')}, #{item.link}, #{item.caption}" %>
          </p>
          <% end # if 1 == 2 %>
          <% end %>
        </div><!--/.cycle-slideshow-->
      </div><!--/.well-->
      <div class="alert alert-info">
          <h4><%= fa_icon "pencil" %> <%= @article.title %></h4>
          <%= simple_format (truncate(@article.content, length: 750, separator: " ") { link_to "(more)", @article }) %>
      </div>
    
  </div><!--/.col-lg-8-->
  
  <div class="col-lg-4">
    <div class="alert alert-warning">
      <h4><%= fa_icon "calendar" %> Activities</h4>
      <dl>
        <% @activities.each do |activity| %>
        <dt><%= activity.title %></dt>
        <dd><%= activity.starts_at.strftime("%a %b %d %l:%M %P") %></dd>
        <% end %>
      </dl>
    </div><!--/.well -->
    <div class="alert alert-success">
      <h4><%= fa_icon "twitter" %> Tweets</h4>
      <% @tweets.each do |tweet| %>
      <blockquote>
        <p><%= auto_link HTMLEntities.new.decode(tweet.content), html: { target: '_blank' } %></p>
        <small><%= time_ago_in_words tweet.created_at %> ago</small>
      </blockquote>
      <% end %>
    </div><!--/.well -->
  </div><!--/.col-lg-4-->
</div><!--/.row-->


